@page "/explore"
@inject ApplicationState State
@inject ISignedIn User
@implements IDisposable

<div>Find other users</div>

<ul class="list-group">
    @foreach (var (key, value) in State.Users.Where(kv => kv.Key != User.Name))
    {
        <li class="list-group-item">
            <div class="d-flex">
                <img src="@value.ProfilePicture" style="height: 30px" alt="">
                <NavLink class="nav-link" href="@($"feed/{key}")" Match="NavLinkMatch.All">
                    @key
                </NavLink>
            </div>
        </li>
    }
</ul>

@code {

    protected override void OnInitialized()
    {
        State.NewUserSignedIn += HandleStateChange;
    }

    private void HandleStateChange()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        State.NewUserSignedIn -= HandleStateChange;
    }

}