@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">LeetGram</h1>
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>