@inherits LayoutComponentBase

<div class="main">
    <NavMenu/>
    <div class="jumbotron jumbotron-fluid" style="background-color: #002B55">
        <div class="container">
            <h1 class="display-4">LeetGram</h1>
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>