@inject ApplicationState State
@inject ISignedIn User
<div class="d-flex flex-column">
    <h4 class="mb-4">Sign in</h4>
    <div class="form-group" style="width: 18rem;">
        <label>Username</label>
        <input @bind="_userName" class="form-control"/>
        <button class="btn btn-leet my-4" @onclick="HandleSubmit">Log in</button>
    </div>
</div>

@code {
    private string _userName;

    private void HandleSubmit() => State.SignInUser(_userName, User);

}